.gnb{width: 1400px; margin: 30px auto; height: 50px; position: relative;}

.gnb .depth1{width: 200px; float: left; text-align: center;}
.gnb .depth1>a{display: block; height: 50px; line-height: 50px; background-color: #202020; color: #fff; font-size: 20px; font-weight: bold;}
.gnb .depth1:hover>a{background-color: red;}
.gnb .depth1:hover>.depth2{display: block;}

.gnb .depth2{position: absolute; left: 0; top: 50px; width: 1400px; background-color: #d0d0d0; display: none;}
.gnb .depth2>li{float: left;}
.gnb .depth2>li>a{display: block; width: 150px; height: 40px; line-height: 40px; font-size: 17px;}
.gnb .depth2>li>a:hover{background-color: #444; color: #fff;}